body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', serif;
}
.bag{
    width: 100%;
    height: 100vh;
    background-image: url("images/todoback.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.app{
    border: 2px solid#FBEEE6 ;
    width: 600px;
    position:absolute;
    top: 150px;
    left: 490px;
    background: transparent;
    border-radius:6px;
}
.app h2{
    font-size: 50px;
    font-weight:900;
    color:#2E4053;
    font-style: bold;
    display: flex;
    align-items: center;
    margin:40px 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row input{
    margin: 40px 20px;
    width:400px;
    height: 40px;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    background-color:#FBEEE6 ;
    color:#2E4053;
    text-align: center;
}
.btn{
    margin: 40px 20px;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color:#FBEEE6 ;
    color: #34495E ;
    font-size: 20px;
}
ul li{
    list-style-type: none;
    font-size:17px;
    font-weight: 800;
    padding: 10px 8px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50%;
    background-image:url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#2E4053;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url("images/checked2.png");
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:gray;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#F9EBEA;
}
